@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .flex-center {
  @apply flex justify-center items-center;
} */

/* pricing chart */
.pricing-chart-html-tooltip {
  position: absolute;
  padding: 5px;
  pointer-events: none;
}

.pricing-chart-html-tooltip span {
  display: block;
  padding: 1px;
  line-height: 1;
}
